
  .img-ajust{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .masonry{
    margin-top:100px;
    margin-left: 25%;
    margin-right: 25%;
  }
    .container-masonry {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: repeat(7, 100px);
      grid-auto-columns: 100px;
      grid-auto-rows: 100px;
      grid-gap: 15px;
      grid-auto-flow: row dense;
    }
    
    .item {
      font-size: 1em;
      background: lightyellow;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    
    .big {
      color: white;
      grid-column: span 5;
      grid-row: span 5;
      background-image: url("#");
      background-size: cover;
      background-position: top left;
      transition: all ease-in-out 300ms;
    }
    
    .sub-container {
      float: left;
      width: 100%;
      position: relative;
      text-align: center;
      top: 40%;
      transition: all 500ms ease 0s;
    }
    
    .length {
      grid-column: span 2;
      grid-row: span 4;
    }
    
    .medium {
      grid-column: span 2;
      grid-row: span 2;
    }
    
    .horizontal {
      grid-column: span 5;
      grid-row: span 1;
    }
    