<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/articles_css.css" />
    
</head>
<body>
    <div class="container-masonry masonry">
        <div class="item big " style=" background:#dcedfa;">
          <img class="img-ajust" src="../img/content/08.jpg" alt="">
        </div>
      
        <div class="item length " style=" background:#dcfafa;">
          <img class="img-ajust" src="img/content/astracto.jpg" alt="">
        </div>
        <div class="item horizontal img-ajust" style=" background: #8effdd;" >
            <img class="img-ajust" src="img/content/maxresdefault-146.jpg" alt="">
          </div>  

        <div class="item medium" style=" background: #dddcfa;" >
          <img class="img-ajust" src="img/content/822944_1.jpg" alt="">
        </div>
     
      
       
      </div>
      
      


</body>
</html>