<div class="container-masonry masonry">
  <div class="item big " style=" background:#dcedfa;">
    <img class="img-ajust" src="img/content/08.jpg" alt="">
  </div>

  <div class="item length " style=" background:#dcfafa;">
    <img class="img-ajust" src="img/content/maxresdefault-146.jpg" alt="">
  </div>

  <div class="item medium" style=" background: #dddcfa;" >
    <img class="img-ajust" src="img/content/822944_1.jpg" alt="">
  </div>

  <div class="item medium " style=" background: #f3dcfa;" >
    <img class="img-ajust" src="img/content/atronauta.jpg" alt="">  
  </div>

  <div class="item medium " style=" background:#f3dcfa;" >
    <img class="img-ajust" src="img/content/depositphotos_58774317-stock-illustration-retro-hipster-photo-camera.jpg" alt="">
  </div>

  <div class="item medium " style=" background: #faf8dc;" >
    <img class="img-ajust" src="img/content/fotoindie.jpg" alt="">
  </div>

  <div class="item horizontal img-ajust" style=" background: #8effdd;" >
    <img class="img-ajust" src="img/content/maxresdefault-146.jpg" alt="">
  </div>

  <div class="item medium img-ajust" style=" background:  #dddcfa;" >
    <img class="img-ajust" src="img/content/S_966115-MLA25166103210_112016-O.jpg" alt="">
  </div>

  <div class="item medium img-ajust" style=" background: #dcedfa;" >
    <img class="img-ajust" src="img/content/LINDIE-è-MORTO-IMG.jpg" alt="">
  </div>
</div>

