<div id="navbar-siplo" class="navbar  ">
    <div class="container-fluid" style=" background-color: #ffffff; height: 50px;">
        <div class="element-left ms-nav">
            <a href="#">
                <img src="img/idea.png"style="width:45px; height: 45px;" alt=""> 
                <b id="title-nav"> Friyawa </b> 
            </a>
        </div>
        <div class="element-center ms-nav ">
            <div id="buscador" class=""style="border:solid 1px;outline: none;">
                <form action="" method="post">
                        <i  id="icon-buscador" class="fa fa-search " style="text-align: center;"></i>
                    <input id="input-buscador"style=" border:none; outline: none; text-align: center;" type="text"placeholder="buscar">
                </input>
                </form>
        
            </div>
            
           
        </div>
        <div class="element-right ms-nav">
            <a href="#">
                <i class="fa fa-user-o" style="font-size:25px;"></i>
                login
            </a>
         <b style="font-size:25px; color: rgb(0, 255, 179)"> | </b> 
         <a href="#"> 
            <i class="fa fa-heart" style="font-size:25px;"></i>
            <b style="font-size:25px; color: rgb(0, 255, 179)">+</b>
        </a> 
        </div>
    </div>
